<p class="d">Details</p>
<div class="alert alert-info">
    <p>ID: {{det.id}}</p>
    <p>Name: {{det.name}}</p>
    <p>User Name: {{det.username}}</p>
    <p>Email: {{det.email}}</p>
    <p>Phone: {{det.phone}}</p>
    <p>Website: {{det.website}}</p>
    <hr>
    <p style="text-decoration-line: underline;">Address</p>
    <p>Street: {{det.address.street}}</p>
    <p>Suite: {{det.address.suite}}</p>
    <p>City: {{det.address.city}}</p>
    <p>Zipcode: {{det.address.zipcode}}</p>
    <p>Lat: {{det.address.geo.lat}}</p>
    <p>Lng: {{det.address.geo.lng}}</p>
    <hr>
    <p style="text-decoration-line: underline;">Copmany</p>
    <p>Name: {{det.company.name}}</p>
    <p>CatchPhrase: {{det.company.catchPhrase}}</p>
    <p>Bs: {{det.company.bs}}</p>
</div>